@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ant-picker-header-super-prev-btn {
  display: block;
}

.icon-navbar {
  @apply w-[24px] mr-7 font-light text-[#1E0D03];
}

.img-navbar {
  @apply h-[48px] w-[48px] rounded-full;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.ant-menu {
  border-right: none !important;
}
.ant-menu-item {
  height: 60px !important;
}
.ant-menu-submenu-selected {
  color: #fff !important;
}
.ant-menu-submenu-selected,
.ant-menu-item-selected {
  background: #ffb800 !important;
  color: #fff !important;
}
.ant-menu-title-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
}

.icon-svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  font-weight: 300;
  color: aliceblue;
}

.ant-table-thead {
  background: #f1f4f8;
  border-radius: 8px 8px 0px 0px;
}
